<div class="question-card-wrapper">
  <mat-card class="question-card">
    <mat-card-title>
      <button class="question-title" (click)="goToQuestion()"><span class="title-text">{{questionObject.title}}</span></button>
    </mat-card-title>
    <mat-card-content>
      <div class="d-flex grey-text">
        <span>Author: {{ questionObject.user.name }}</span>
        <span class="ml-2">Posted on: {{formattedDate(questionObject.createdAt)}}</span>
      </div>
      <span>User Score: {{ questionObject.user.score }}</span>
      <span>Text: {{questionObject.text}}</span>
    </mat-card-content>
    <mat-card-actions class="d-flex align-center justify-between">
      <div class="vote-buttons-section d-flex align-center">
        <div class="button-square-container">
          <button mat-mini-fab class="upvote" aria-label="Upvote" (click) = "incrementScore()">
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
        <span class="question-score">
          Score: {{questionObject.score}}
        </span>
        <div class="button-square-container">
          <button mat-mini-fab class="downvote" aria-label="Downvote" (click)="decrementScore()">
            <mat-icon>exposure_neg_1</mat-icon>
          </button>
        </div>
      </div>
      <div class="other-actions">
        <button *ngIf="createdByCrtUser()" mat-button aria-label="DeleteQ" class="action-button--delete" (click)="deleteQuestion()">
          <span>Delete Question</span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
