<mat-card class="my-2 mx-2" *ngIf="questionData.user">
  <mat-card-header>
    <mat-icon mat-card-avatar class="avatar" [style.color]="authorData.avatar">person</mat-icon>
    <mat-card-title>{{ questionData.title }}</mat-card-title>
    <mat-card-subtitle>Asked by {{ authorData.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ questionData.text }}</p>
    <div class="answers-wrapper">
      <mat-card *ngFor="let answer of answers" class="mb-1" style="background: #DDDDDD">
        <mat-card-content>
          <p>{{ answer.text }}</p>
          <mat-card-subtitle>Answered by {{ answer.user.name }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions class="d-flex align-center justify-between">
          <div class="vote-buttons-section d-flex align-center">
            <div class="button-square-container">
              <button mat-mini-fab color="primary" aria-label="Upvote" (click) = "incrementScore()">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div>
            <mat-chip color="accent" class="question-score">
              {{questionData.score}}
            </mat-chip>
            <div class="button-square-container">
              <button mat-mini-fab color="warn" aria-label="Downvote" (click)="decrementScore()">
                <mat-icon>exposure_neg_1</mat-icon>
              </button>
            </div>
          </div>
          <div class="other-actions">
            <button *ngIf="createdByCrtUser(answer)" mat-button color="warn" aria-label="DeleteQ" class="action-button--delete" (click)="deleteAnswer(answer.id)">
              <span>Delete Answer</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- Add any actions/buttons here if needed -->
  </mat-card-actions>
</mat-card>
<div *ngIf="!questionData.user" class="d-flex w-100 align-center justify-center">
  <mat-spinner></mat-spinner>
</div>
