<mat-card class="my-2 mx-2" *ngIf="questionData.user">
  <mat-card-header>
    <mat-icon mat-card-avatar class="avatar" [style.color]="authorData.avatar">person</mat-icon>
    <mat-card-title>{{ questionData.title }}</mat-card-title>
    <mat-card-subtitle>Asked by {{ authorData.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ questionData.text }}</p>

    <div class="d-flex flex-column" style="border: 1px solid #555; border-radius: 8px; padding: 8px;">
      <p style="color: #777; margin: 4px 0;">Happen to know the answer?</p>
      <div class="add-new-answer">
        <mat-form-field appearance="outline" class="answer-input">
          <input matInput placeholder="Write it here" name="text" [(ngModel)]="formData.answerDTO.text">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addAnswer()">Add</button>
      </div>
    </div>
    <div class="answers-wrapper">
      <mat-card *ngFor="let answer of answers" class="mb-1" style="background: #DDDDDD">
        <mat-card-content>
          <p>{{ answer.text }}</p>
          <mat-card-subtitle>Answered by {{ answer.user.name }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions class="d-flex align-center justify-between">
          <div class="vote-buttons-section d-flex align-center">
            <div class="button-square-container">
              <button mat-mini-fab class="upvote" aria-label="Upvote" (click) = "incrementScore(answer.id)">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div>
            <span class="question-score mx-1">
              Score: {{answer.score}}
            </span>
            <div class="button-square-container">
              <button mat-mini-fab class="downvote" aria-label="Downvote" (click)="decrementScore(answer.id)">
                <mat-icon>exposure_neg_1</mat-icon>
              </button>
            </div>
          </div>
          <div class="other-actions">
            <button *ngIf="createdByCrtUser(answer)" mat-button aria-label="DeleteQ" class="action-button--delete" (click)="deleteAnswer(answer.id)">
              <span>Delete Answer</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- Add any actions/buttons here if needed -->
  </mat-card-actions>
</mat-card>
<div *ngIf="!questionData.user" class="d-flex w-100 align-center justify-center">
  <mat-spinner></mat-spinner>
</div>
