@import "../../helpers/constants";

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://cdn.britannica.com/30/199930-131-B3D1D347/computer.jpg") no-repeat center center fixed;
  background-size: cover;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: left;
  width: 100%;
}

.profile-icon {
  border:1px solid black;
  border-radius: 8px;
  background-color: #DDD;
}
